@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contacts";
}
<h1>@ViewData["Title"]</h1>

<p>
    If you have any questions, complaints or comments related to our website, you can contact us:
</p>
<p>
    Jegor Kütt tel:+37258965456 email:jekutt@ttu.ee
</p>
<p>
    Daniil Gritsak tel:+37258836485 email:dagrit@ttu.ee
</p>
<p>
    Jelizaveta Beresnjeva tel:+37255532654 email:jebere@ttu.ee
</p>

