@page
@using Loppprojekt.Pages.Extensions
@model Loppprojekt.Soft.Areas.Motorbikes.Pages.BikeModels.IndexModel

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}
@section Create
{
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create?fixedFilter={Model.FixedFilter}&fixedValue={Model.FixedValue}"))
}

<body>
<table class="table">
    <thead>
        @Html.TableHeaderFor(
            new Link(Html.DisplayNameFor(m => m.Item.BikeMarkId), Model.GetSortString(m => m.BikeMarkId, page)),
            new Link(Html.DisplayNameFor(m => m.Item.Name), Model.GetSortString(m => m.Name, page)),
            new Link(Html.DisplayNameFor(m => m.Item.Country), Model.GetSortString(m => m.Country, page)),
            new Link(Html.DisplayNameFor(m => m.Item.BikeBodyType), Model.GetSortString(m => m.BikeBodyType, page)),
            new Link(Html.DisplayNameFor(m => m.Item.BikePower), Model.GetSortString(m => m.BikePower, page)),
            new Link(Html.DisplayNameFor(m => m.Item.BikeAcceleration), Model.GetSortString(m => m.BikeAcceleration, page)),
            new Link(Html.DisplayNameFor(m => m.Item.MaxSpeed), Model.GetSortString(m => m.MaxSpeed, page)),
            new Link(Html.DisplayNameFor(m => m.Item.YearOfManufacture), Model.GetSortString(m => m.YearOfManufacture, page))
            )
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                @Html.TableRowFor(
                    page,
                    item.Name,
                    Model.FixedFilter,
                    Model.FixedValue,
                    Html.Raw(Model.GetBikeMarkName(item.BikeMarkId)),
                    Html.DisplayFor(modelItem => item.Name),
                    Html.DisplayFor(modelItem => item.Country),
                    Html.DisplayFor(modelItem => item.BikeBodyType),
                    Html.DisplayFor(modelItem => item.BikePower),
                    Html.DisplayFor(modelItem => item.BikeAcceleration),
                    Html.DisplayFor(modelItem => item.MaxSpeed),
                    Html.DisplayFor(modelItem => item.YearOfManufacture)
                    )
            </tr>
        }
    </tbody>
</table>
</body>