@page
@using Loppprojekt.Pages.Extensions
@model Loppprojekt.Soft.Areas.Motorbikes.Pages.BikeMarks.CreateModel

@{
    Layout = "_Create";
}

    <body>
        @Html.EditControlsFor(m => m.Item.Name)
        @Html.EditControlsFor(m => m.Item.Country)
        @Html.EditControlsFor(m => m.Item.Description)
        @Html.EditControlsFor(m => m.Item.YearOfManufacture)
    </body>
