@page
@using Loppprojekt.Pages.Extensions
@model Loppprojekt.Soft.Areas.Cars.Pages.Generations.IndexModel

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}
@section Create
{
    @Html.HypertextLinkFor(string.Empty, new Link(Constants.CreateNewLinkTitle, $"{page}/Create?fixedFilter={Model.FixedFilter}&fixedValue={Model.FixedValue}"))
}

<body>
<table class="table">
    <thead>
        @Html.TableHeaderFor(
            new Link(Html.DisplayNameFor(m => m.Item.MarkId), Model.GetSortString(m => m.MarkId, page)),
            new Link(Html.DisplayNameFor(m => m.Item.ModelsId), Model.GetSortString(m => m.ModelsId, page)),
            new Link(Html.DisplayNameFor(m => m.Item.Name), Model.GetSortString(m => m.Name, page)),
            new Link(Html.DisplayNameFor(m => m.Item.Country), Model.GetSortString(m => m.Country, page)),
            new Link(Html.DisplayNameFor(m => m.Item.BodyType), Model.GetSortString(m => m.BodyType, page)),
            new Link(Html.DisplayNameFor(m => m.Item.DrivenWheel), Model.GetSortString(m => m.DrivenWheel, page)),
            new Link(Html.DisplayNameFor(m => m.Item.YearOfManufacture), Model.GetSortString(m => m.YearOfManufacture, page))
            )
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                @Html.TableRowFor(
                    page,
                    item.Name,
                    Model.FixedFilter,
                    Model.FixedValue,
                    Html.DisplayFor(modelItem => item.MarkId),
                    Html.DisplayFor(modelItem => item.ModelsId),
                    Html.DisplayFor(modelItem => item.Name),
                    Html.DisplayFor(modelItem => item.Country),
                    Html.DisplayFor(modelItem => item.BodyType),
                    Html.DisplayFor(modelItem => item.DrivenWheel),
                    Html.DisplayFor(modelItem => item.YearOfManufacture)
                    )
            </tr>
        }
    </tbody>
</table>
</body>